{% extends 'registration/SubPage.html' %}
{% block title %}
<h2>Active Games</h2>
{% endblock %}
{% block data %}
    <h3>Active now</h3>
    <ol>
        {% for game in games %}
            <li>
                {{game.user}}
            </li>
        {% endfor %}
    </ol>
<h>{{avg}}</h><br>
  {% if up.type == 'student' %}
  <a href="{% url 'registration:reports-menu-users' %}"class="button alt">Return to reports - users</a><br>
{% else %}
    <a href="{% url 'registration:reports-menu-users' %}"class="button alt">Return to reports - users</a><br>
{% endif %}
{% if up.is_admin %}
 <a href="{% url 'registration:reports-menu' %}"class="button alt">Return to reports - Admin</a><br>
{% endif %}
<a href="{% url 'registration:index' %}"class="button alt">Return to main menu</a><br>
{% endblock %}