<h2>Active Users</h2>
    <h3>Active users now</h3>
    <ol>
        {% for user in users %}
            <li>
                {{user.username}}
            </li>
        {% endfor %}
    </ol>
<h>{{avg}}</h><br>
  {% if up.type == 'student' %}
  <a href="{% url 'registration:reports-menu-users' %}">Return to reports users</a><br>
{% else %}
    <a href="{% url 'registration:reports-menu-users' %}">Return to reports users</a><br>
{% endif %}
{% if up.is_admin %}
 <a href="{% url 'registration:reports-menu' %}">Return to reports </a><br>
{% endif %}
<a href="{% url 'registration:index' %}">Go to main menu</a><br>