
    <h2>Profile menu</h2>
    <h3>Hello {{ user.get_full_name }}</h3>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Age: {{profile.age}}</li>
        <li>Points: {{profile.points}}</li>
        <li>Level: {{profile.level}}</li>
    </ul>
    <p><strong>Friends:</strong></p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        <script>alert("{{ message }}") </script>
    </li>
    {% endfor %}
</ul>
{% endif %}

    <ul>
        {% for f in friends %}
        <li>{{f}}</li>
        {% empty %}
        <p>No friends</p>
        {% endfor %}
    </ul>
<a href="{% url 'registration:index' %}">Go to main menu</a><br>