{% extends 'registration/index.html' %}
{% block content %}
    <h2>Profile menu</h2>
    <h3>Hello {{ user.get_full_name }}</h3>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Age: {{profile.age}}</li>
        <li>Points: {{profile.points}}</li>
    </ul>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script>
                    alert('{{message.message}}')
                </script>
<!--                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
            {% endfor %}
        </ul>
    {% endif %}
    <p><strong>Friends:</strong></p>
    <ul>
        {% for f in friends %}
        <li>{{f}}</li>
        {% empty %}
        <p>No friends</p>
        {% endfor %}
    </ul>
{% endblock %}