<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Memory Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker" >
    <link rel="stylesheet" href="{% static 'registration/css/app.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Memory Game</h1>
        </header>

        <section class="score-panel">
        	<ul class="stars">
        		<li><i class="fa fa-star"></i></li>
        		<li><i class="fa fa-star"></i></li>
        		<li><i class="fa fa-star"></i></li>
        	</ul>

        	<span class="moves">0</span> Move(s)

            <div class="timer">
            </div>

            <div class="restart" onclick=startGame()>
        		<i class="fa fa-repeat"></i>
        	</div>
        </section>

        <ul class="deck" id="card-deck">
            <li class="card" type="1">
                <img src="{{ image.0.image.url }}" alt="image">
            </li>
            <li class="card" type="1">
                {{ image.0.word }}
            </li>
            <li class="card" type="2">
                <img src="{{ image.1.image.url }}" alt="image">
            </li>
            <li class="card match" type="3">
                <img src="{{ image.2.image.url }}" alt="image">
            </li>
            <li class="card" type="4" >
                <img src="{{ image.3.image.url }}" alt="image">
            </li>
            <li class="card" type="5">
                <img src="{{ image.4.image.url }}" alt="image">
            </li>
            <li class="card match" type="3">
                {{ image.2.word }}
            </li>
            <li class="card" type="6">
                <img src="{{ image.5.image.url }}" alt="image">
            </li>
            <li class="card" type="7">
                <img src="{{ image.6.image.url }}" alt="image">
            </li>
            <li class="card" type="8">
                <img src="{{ image.7.image.url }}" alt="image">
            </li>
            <li class="card" type="6">
                {{ image.5.word }}
            </li>
            <li class="card" type="8">
                {{ image.7.word }}
            </li>
            <li class="card open show" type="4">
                {{ image.3.word }}
            </li>
            <li class="card" type="7">
                {{ image.6.word }}
            </li>
            <li class="card" type="2">
                {{ image.1.word }}
            </li>
            <li class="card" type="5">
                {{ image.4.word }}
            </li>
        </ul>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Congratulations 🎉</h2>
                <a class="close" href=# >×</a>
                <div class="content-1">
                    Congratulations you're a winner 🎉🎉
                </div>
                <div class="content-2">
                    <p>You made <span id=finalMove> </span> moves </p>
                    <p>in <span id=totalTime> </span> </p>
                    <p>Rating:  <span id=starRating></span></p>
                </div>
                <button id="play-again"onclick="playAgain()">
                    Play again 😄</a>
                </button>
            </div>
        </div>

    </div>
    <script src="{% static 'registration/js/app.js' %}"></script>
{% if not user.is_authenticated %}
    <a href="{% url 'registration:login' %}">Login with existing user</a><br>
    <a href="{% url 'registration:new-user' %}">Make a new user</a><br>
{% endif %}
{% if user.is_authenticated %}
    <button id="send-game" onclick="stuff()">Save game</button>
    <br>
    <a href="{% url 'registration:game' %}">Restart the game</a><br>
    <a href="{% url 'registration:exit' %}">Exit game</a><br>
{% endif %}
</body>
</html>
