<!DOCTYPE HTML>
<html>
	<head>
        {% load static %}
		<title>Sign Language Teacher</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'registration/sitestyle/assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'registration:index' %}">Sign Language Teacher <span>by Group_22</span></a></div>
				<a href="#menu">Main Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
       {% block content %}
    {% if user.is_authenticated %}
                    <header class="align-center" >
                        <a href="{% url 'registration:profile' %}" style="text-decoration: none; color: #F0F0F0">{{user.username}}</a>
                    </header>
                    <p></p>
    {% endif %}
{% endblock %}
{% block links %}
    {% if not user.is_authenticated %}
        <li><a href="{% url 'registration:login' %}">Login with existing user</a></li><br>
        <li><a href="{% url 'registration:new-user' %}">Make a new user</a><br>
    {% endif %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'registration:game' %}">Play the game</a><br>
		<li><a href="{% url 'registration:pending-cards' %}">Pending Cards</a><br>
        <li><a href="{% url 'registration:profile' %}">Profile menu</a><br>
        <li><a href="{% url 'registration:add-friend' %}">Manage friends</a><br>
        <li><a href="{% url 'registration:inbox' %}">Mail</a><br>
        <li><a href="{% url 'registration:user_list' %}">Chat</a><br>
        <li><a href="{% url 'registration:notifications' %}">Notifications</a><br>
        {% if profile.type == 'student' %}
            <li><a href="{% url 'registration:make-new-card' %}">Make a new card</a><br>
            <li><a href="{% url 'registration:rank-game' %}">Rank game</a><br>
        {% endif %}
        {% if profile.type == 'parent' %}
            <li><a href="{% url 'registration:total-time-son' %}">Report total time of son</a><br>
            <li><a href="{% url 'registration:rank-game' %}">Rank game</a><br>
            <li><a href="{% url 'registration:time-restriction' %}">Set limitation for son</a><br>
            <li><a href="{% url 'registration:parent-list' %}">Parent list</a><br>
            <li><a href="{% url 'registration:level-of-son' %}">Your son's level</a><br>
			<li><a href="{% url 'registration:limit-son' %}">Limit Your Son</a><br>
			<li><a href="{% url 'registration:game-sessions-report' %}">Son Game Sessions Report</a><br>
			<li><a href="{% url 'registration:points-of-son' %}">The points of your son</a><br>
			<li><a href="{% url 'registration:invite-son' %}">Invite your son to play</a><br>
        {% endif %}
        {% if profile.is_admin %}
			<li><a href="{% url 'registration:suspend-users' %}">Suspend Users</a><br>
            <li><a href="{% url 'registration:reports-menu' %}">Reports menu</a><br>
            <li><a href="{% url 'registration:lottery' %}">Lottery for tournament</a><br>
            <li><a href="{% url 'registration:suspend-users' %}">Suspend users</a><br></li>
			<li><a href="{% url 'registration:points-users' %}">Points users</a><br></li>
			<li><a href="{% url 'registration:send-notification' %}">Start personal tournament</a><br></li>
        {% endif %}
        <li><a href="{% url 'registration:invite-friend' %}">Invite your friend</a><br></li>
        <li><a href="{% url 'registration:reports-menu-users' %}">Reports menu users</a><br>
        <li><a href="{% url 'registration:info' %}">Game instructions</a><br>
        <li><a href="{% url 'registration:logout' %}">Logout</a><br>
    {% endif %}
    {% endblock %}
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{% static 'registration/uploads/slide01.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>Learn More About <a href="https://templated.co">Sign Language</a></p>
							<h2>Sign Language Teacher</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'registration/uploads/slide02.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>Card Inserting Option Check This Out</p>
							<h2>Cards</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'registration/uploads/slide03.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>Parent Son Option Check This Out</p>
							<h2>Parent Son Option</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'registration/uploads/slide04.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>New Rank System Added Check This Out</p>
							<h2>Rank System</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'registration/uploads/slide05.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>You Can Always Contact Us For Any Problem</p>
							<h2>Group_22</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'registration/uploads/pic02.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>The Memory Game</p>
									</header>
									<p></p>
									<ol>
<li>Cards are to be shuffled on load or restart</li>
<li>Game should know how to handle matched and unmatched cards</li>
<li>Game should display the current number of moves a user has made</li>
<li>The game should show a star rating (from 1–3) that reflects the player’s performance based on the number of moves made. </li>
<li>When a player starts a game, a displayed timer should also start and once the player wins the game, the timer stops.</li>
<li>A restart button should allow the player reset the game board, the timer, and the star rating.</li>
<li>A congratulations modal should appear when the player wins while showing a button to play again and modal should show: How much time it took, and star rating.</li>
</ol>
									<footer class="align-center">
										<a href="{% url 'registration:game' %}" class="button alt">Play Now</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'registration/uploads/pic03.jpg' %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Online Chat</p>
									</header>
									<p> From now you can use our Chat to communicate each other and for maintence</p>
									<footer class="align-center">
										<a href="{% url 'registration:user_list' %}" class="button alt">Chat Now</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved to Group_22.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'registration/sitestyle/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'registration/sitestyle/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'registration/sitestyle/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'registration/sitestyle/assets/js/util.js' %}"></script>
			<script src="{% static 'registration/sitestyle/assets/js/main.js' %}"></script>

	</body>
</html>