{% extends 'registration/SubPage.html' %}
{% block title %}
<h2>Game instruction</h2>
{% endblock %}
{% block data %}

        <h2>The rules for playing memory <br>
1. Mix up the cards. <br>
2. Lay them in rows, face down. <br>
3. Turn over any two cards. <br>
4. If the two cards match, keep them. <br>
5. If they don't match, turn them back over. <br>
6. Remember what was on each card and where it was. <br>
7. Watch and remember during the other player's turn. <br>
8. The game is over when all the cards have been matched. <br>
9. The player with the most matches wins.</h2>
<ul></ul>
<a href="{% url 'registration:index' %}"class="button alt">Return to main menu</a><br>
{% endblock %}
