{% extends 'registration/SubPage.html' %}
{% block title %}
  <h2>Level Of Son Page</h2>
{% endblock %}
{% block data %}
<h style="font-size:20px;"; >The level of your son </h>
<h style="font-size:20px;";>{{son_profile}}</h>
<h style="font-size:20px;";>is : </h>
<h style="font-size:20px;";>{{ son_profile.level }} </h> <br>
<h style="font-size:20px;";>If you want to change his level choose here:</h>
<form level="{% url 'registration:level-of-son' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>
<a href="{% url 'registration:index' %}"class="button alt">Return to main menu</a><br>
{% endblock %}
