
    {% if message %}
        <h3><strong>Subject:</strong> {{message.subject}}</h3>
        <p><strong>Sender:</strong> {{message.sender}}. <strong>Receiver:</strong> {{message.receiver}}</p>
        <p><strong>Content:</strong></p>
        <p>{{message.body}}</p>
        {% if user == message.receiver %}
            <a href="{% url 'registration:new-message' message.sender %}">Reply</a><br>
        {% endif %}
    {% endif %}
<a href="{% url 'registration:inbox' %}">Mail</a><br>
 <a href="{% url 'registration:index' %}">Return to main menu</a><br>