{% extends 'registration/SubPage.html' %}
{% block title %}
    <h2>Notifications</h2>
{% endblock %}
{% block data %}

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>notification</th>
            <th>delete</th>
        </tr>
        </thead>
        {% for f in notifications %}
        <tbody>
        <tr>
            <td>*</td>
            <td>{{f.message}}</td>
            <td> <a href="/sign-language-teacher/notifications/delete/{{ f.id }}"> Delete</a></td>
        </tr>
        </tbody>
        {% endfor %}
        <tfoot> </tfoot>
    </table>
</div>
{% if not notifications %}
        <p>No Messages.</p>
    {% endif %}
<a href="{% url 'registration:index' %}"class="button alt">Return to main menu</a><br>
{% endblock %}