{% extends 'registration/SubPage.html' %}
{% block title %}
    <h2>All Users Rank</h2>
{% endblock %}
{% block data %}
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Rank</th>
        </tr>
        </thead>
        {% for f in user_list %}
        <tbody>
        <tr>
            <td>{{f.user}}</td>
            <td>{% if f.rank == 0 %}
            No ranking
            {% else %}
            {{f.rank}} {% endif %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
        <tfoot> </tfoot>
    </table>
</div>

  {% if up.type == 'student' %}
  <a href="{% url 'registration:reports-menu-users' %}"class="button alt">Return to reports - users</a><br>
{% else %}
    <a href="{% url 'registration:reports-menu-users' %}"class="button alt">Return to reports - users</a><br>
{% endif %}
{% if up.is_admin %}
 <a href="{% url 'registration:reports-menu' %}"class="button alt">Return to reports - Admin</a><br>
{% endif %}
<a href="{% url 'registration:index' %}"class="button alt">Return to main menu</a><br>
{% endblock %}