asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
codecov==2.0.15
colorama==0.4.3
coverage==5.0.3
Django==3.0.1
django-appconf==1.0.3
django-braces==1.14.0
django-crontab==0.7.1
django-debug-toolbar==2.1
django-messages==0.6.0
django-model-utils==4.0.0
django-private-chat==0.2.2
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
idna==2.8
mccabe==0.6.1
mock==3.0.5
packaging==20.0
Pillow==7.0.0
pinax-notifications==5.0.3
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
toml==0.10.0
tox==3.14.3
urllib3==1.25.7
virtualenv==16.7.9
websockets==3.2
